$primary: #00284d;
$secondary: #01ACB1;
$white: #F9F9F9;
$time: .5s;

h1,h2,h3 {margin: 0;font-family: 'Oswald';}

h1 {
    font-size: 7rem;
}

h2 {
	text-transform: uppercase;
}

p {
		padding: 10px 0px; 
}

body {
	background: $primary;
	color: $secondary;
	font-family: 'Roboto', tahoma, arial, helvetica, sans-serif;	
	margin: 0;
	font-size: 1.2rem;
}

.container {
	padding: 1rem;
	max-width: 1000px;
	margin: auto;
}

.row {
	display: flex;
	padding: 1.5rem 0;
	.flex {
		flex: 1;
	}
}
.hide {display: none!important;}

.empasis {
	border-bottom: 5px solid $secondary;
    margin-top: -1.2rem;
}

.button {
	text-decoration: none;
    color: $white;
    background: $secondary;
    padding: .5rem 1rem;
    border-radius: .25rem;
	margin: 1rem .5rem;
    display: inline-block;
	font-size: 1rem;
	transition: .5s;
	&:hover {
		cursor: pointer;
		background: darken($secondary,5);
	}
}

#header {
	text-align: center;
	padding-bottom: 12rem;
	h1 {
		color: $white;
	}
	h4 {
		color: $secondary;
		margin: 0;
		font-size: 1.4rem;
    	font-weight: lighter;
	}
	.container {
		display: block;
		z-index: -1;
		position: relative;
		transition: $time;
		&.scrolled {
			animation-duration: 3s;
			animation-name: fadeDown;
			opacity: 0;
		}
	}
	
}

#midBody {
	background-color: $white;
    padding-top: 1rem;
	color: $primary;
	&:before {
		content: "";
		background-image: url('../img/midTop.svg');
		// position: relative;
		width: 100%;
		height: 10rem;
		display: block;
		background-position: center;
		background-size: cover;
		margin: -10rem 0 -5rem;
		background-repeat: no-repeat;
	}
}

#gregorImg {
	height: 250px;
    width: 250px;
    position: absolute;
    right: 5rem;
	margin-top: -5rem;
	background: url('../img/me.svg') no-repeat;
	background-size: contain;
	&:hover {
		cursor: pointer;
		// opacity: .9;
		background: url('../img/meHover.svg') no-repeat;
		background-size: contain;
	}
}

#careerTitle {
	text-align: center;
	margin-bottom: 1rem;
	h2 {
		color: $secondary;
		display: inline-block;
		background: $white;
		padding: 0 1rem;
		// font-size: ;
	}
}

#highlightsImg {
	height: 250px;
    margin-top: -3rem;
}

#customerSuccess {
	display: inline-block;
    vertical-align: top;
	max-width: 700px;
    padding: 1rem 0 1rem 4rem;
}

#more {
	text-align: center;
	color: rgba(0, 0, 0, .5);
	padding-bottom: 1rem;
	transition: $time;
	&:hover {
		cursor: pointer;
		color: rgba(0, 0, 0, .9);
	}
}

#lowerBody {
	text-align: center;
	color: $white;
	.button {
		display: block;
		max-width: 150px;
		margin: .5rem auto;
	}
	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

#arrow {
	opacity: .5;
	animation: bounce 3.5s infinite;
	margin-top: 3rem;
	background: url('../img/arrow.svg') no-repeat;
	width: 50px;
    height: 50px;
	background-size: contain;
	position: absolute;
    right: 23rem;
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

#side-nav {
	display: none;
	position: absolute;
	right: 3rem;
	transition: .5s;
	li {
		list-style: none;
		position: relative;
		// opacity: .5;
		line-height: 1.5;
		a {
			text-decoration: none;
			color: $primary;
			transition: $time;
			&:before {
				content: "";
				position: absolute;
				border-radius: 50%;
				top: 28%;
				right: -1rem;
				width: 10px;
				height: 10px;
				background: $primary;
				transition: transform .5s;
				transition-timing-function: cubic-bezier(.2,1,.3,1);
			}
		}
		&.active a{
			color: $secondary;
			text-indent: -10px;
			display: inline-block;
			&:before {
				background: $secondary;
			}
		}
	}
	&.scrolled {
		display: block;
		position: fixed;
    	z-index: 1;
		animation-duration: .7s;
		animation-name: fadeInRight;
		transition-delay: $time;
	}
}

#moreContent {
	padding: 1rem 0px;
	display: flex;
	a {
		margin: auto;
		text-decoration: none;
	}
}

#sig {
    height: 100px;
    margin: -1rem 0 2rem;
	background: url('../img/sig-white.png') no-repeat;
	background-position: center;
	background-size: contain;	
}

.module {
	ul {
		margin-bottom: 4rem;
		padding-left: 1rem;
		li {
			margin-bottom: 1rem;
		}
	}
}

/* Animations
-------------------------------------------------------------- */
@keyframes bounce {
	0%,100% {
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0);
	}
	50% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(150%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
  
@keyframes fadeOut {
	from {
		opacity: 1;
	}
  
	to {
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}
  
@keyframes fadeDown {
	from {
		opacity: 1;
	}
  
	to {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}
  